#to-do input{
	font-size: 20px;
    padding: 5px;
    border: 2px solid #aaa;
}

button{ 
	background: none;
    border: 2px solid #aaa;
    padding: 5px 12px;
    font-size: 20px;
    cursor: pointer;
	margin: 20px;
}

button:hover{
	background-color: #aaa;
}
.Row{
	background: #F0F8FF;
}
.FormRow {
    margin: 8px 0;
	background: #F0F8FF;
}

.AddRecipe .FormRow:first-child {
    margin-top: 0;
}

.FormRow label {
    display: block;
    margin-bottom: 2px;
}

.FormRow input {
    font-size: 20px;
    padding: 5px;
    border: 2px solid #aaa;
}

.AddRecipe button {
    background: none;
    border: 2px solid #aaa;
    padding: 5px 12px;
    font-size: 20px;
    cursor: pointer;
}
.AddRecipe{
	background: #F0F8FF;
}

.AddRecipe button:hover {
    background-color: #aaa;
}

.AddRecipe button:disabled {
    color: #ddd;
}

.Row label {
    display: block;
    margin-bottom: 10px;
}

.Row input {
    font-size: 20px;
    padding: 5px;
    border: 2px solid #aaa;
}

.Row1 label {
    display: block;
    margin-bottom: 10px;
}

.Row1 input {
    font-size: 20px;
    padding: 5px;
    border: 2px solid #aaa;
	width:300px;
}
.Row1{
background: #F0F8FF;	
}

.row2{
	background: #F0F8FF;
}
