.Card {
    margin: 10px;
    padding: 15px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.6);
    display: inline-block;
    background-color: #F0F8FF;
	width: 800px;
	
}

.Card h2 {
    margin: 0 0 5px 0;
}

