.Header {
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #cccccc;
    background-color: #F0F8FF;
}

.Header a {
    color: black;
    padding: 5px 10px;
    margin: 0 10px;
    text-decoration: none;
}

.Header button {
    background: none;
    border: 2px solid #aaa;
    padding: 5px 12px;
    font-size: 15px;
    cursor: pointer;
}

.Header button:hover {
    background-color: #aaa;
}

.Header button:disabled {
    color: #ddd;
}

.Header img {
	border-radius: 4px;
	padding: 5px;
	width: 50px;
}

