.FormRow {
    margin: 8px 0;
}

.LogInForm .FormRow:first-child {
    margin-top: 0;
}

.FormRow label {
    display: block;
    margin-bottom: 2px;
	padding: 5px;
}

.FormRow input {
    font-size: 20px;
    padding: 5px;
    border: 2px solid #aaa;
}

.LogInForm button {
    background: none;
    border: 2px solid #aaa;
    padding: 5px 12px;
    font-size: 20px;
    cursor: pointer;
}

.LogInForm button:hover {
    background-color: #aaa;
}

.LogInForm button:disabled {
    color: #ddd;
}

.LogInForm .error {
    color: red;
    margin-bottom: 8px;
}

.LogInForm form {
	width: ;
	background: #F0F8FF;
}