.Recipes ul {
	height: 20em;
	overflow: auto;
	width: 35em;
	display: inline-block;
	padding: 4px;
	background:#ADD8E6;
	border-radius:15px;
}

.Recipes a {
	text-decoration: none;
	font-family: Intro;	
	font-style: italic;
	font-size: 25px;
	color: #008080;
}

.Recipes li {
	padding-bottom: 1em;
}

.Recipes img {
	height: 3em;
	padding-right: 1em;
}

div {
	background: #F0F8FF;
}