h2{
	font-size: 14px;
}

.ulClass{
	overflow:auto;
	padding-left: 50px;
	display: block;
    list-style-type:square;
	  padding-left: 0pt;

}

h3{
	font-size:20px;
	text-align: center;
	align-items: center;
	display:block;
}

li{
	font-size:17px;
}

.div1{
	background: #F0F8FF;
}