.FormRow {
    margin: 8px 0;
	background: #F0F8FF;
}

.RegisterForm .FormRow:first-child {
    margin-top: 0;
}

.FormRow label {
    display: block;
    margin-bottom: 2px;
	
}

.FormRow input {
    font-size: 20px;
    padding: 5px;
    border: 2px solid #aaa;
	
}

.RegisterForm button {
    background: none;
    border: 2px solid #aaa;
    padding: 5px 12px;
    font-size: 20px;
    cursor: pointer;
}

.RegisterForm button:hover {
    background-color: #aaa;
}

.RegisterForm button:disabled {
    color: #ddd;
}
.RegisterForm{
	background: #F0F8FF;
}
.div1 {
	padding: 5px;
	background: #F0F8FF;
}
