ul {
  padding-left: 50px;
  list-style-type: square;
  overflow:auto;
  max-height:500px;
  /*text-indent:-500px;*/
  
}

h2{
	text-align:center;
}

input {
    font-size: 20px;
    padding: 5px;
    border: 2px solid #aaa;
}
div{
	background:white;
}
.div1{
	background-color: #F0F8FF;
}