.section img {
	border-radius: 4px;
	padding: 0px;
	width: 800px;
	height: 400px;
}

.section { 
	border-bottom: solid 1px #cccccc;
	align-items: center;
    justify-content: center;
    background-color: white;	
	display: flex;	
}

.section p {
	font-family: Intro;	
	font-style: italic;
	font-size: 25px;
	color: #008080;
}
.section3 p {
	font-family: Intro;	
	font-size: 25px;
	color: #008080;
}
.section2 p {
	font-family: Intro;	
	font-size: 25px;
	color: #008080;
}
.welcomeSign{
	font-family: Timberline;
	color: black;
	font-size: 40px;
	font-style: italic;
}

.section2 {
	align-items: center;
    justify-content: center;
	display: flex;
	background-color: AliceBlue;
}
.section3 {
	align-items: center;
    justify-content: center;
	display: flex;
	background: AliceBlue;
}

.section2 img {
	border-radius: 4px;
	padding: 4px;
	width: 100px;
}
.section3 img {
	border-radius: 4px;
	padding: 4px;
	width: 60px;
	position:relative;
	top:18px;
}
.buttonClass { 
	background: none;
    border: 2px solid #aaa;
    padding: 5px 12px;
    font-size: 20px;
    cursor: pointer;
	margin: 20px;
}

.buttonClass:hover {
    background-color: #aaa;
}

.buttonClass:disabled {
    color: #ddd;
}

.div123{
	background-color:AliceBlue;
}

form {
	background:#F0F8FF;
}